<header class="header">
  <div class="header__content">
    <a href="/" class="header__logo">
      <mat-icon class="header__logo-img" svgIcon="logo"></mat-icon>
      <span class="header__logo-text">Devias Kit</span>
    </a>

    <div class="header__button-group">
      <light-mode-switcher (changeMode)="changeMode.emit($event)"></light-mode-switcher>

      <select-lang></select-lang>

      <button class="header__button" mat-icon-button>
        <mat-icon (click)="logOut()" svgIcon="logout" class="header__button-icon"></mat-icon>
      </button>
    </div>
  </div>
</header>
