<div class="container gallery" gallerize>
  <div
    *ngFor="let item of items; let i = index"
    [attr.data-title]="item.data.title"
    [attr.data-id]="item.data.id"
    class="gallery__item"
    (click)="open(i)"
  >
    <img
      [src]="item.data.thumb"
      [attr.imageSrc]="item.data.src"
      [attr.thumbSrc]="item.data.thumb"
      (click)="$event.stopPropagation();"
    >
    <button
      *ngIf="mode === ModeType.edit"
      (click)="deletePhoto($event, item.data.id);"
      mat-icon-button
      class="gallery__button"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
</div>
