.items {
  &__title {
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    line-height: 2rem;
    letter-spacing: -0.05px;
  }

  &__content {
    background-color: var(--color-common-bg);
    box-shadow: var(--shadow-block);
    border-radius: 0.4rem;
    padding: 2.4rem;
    color: var(--color-onyx);
  }

  &__block:not(:last-child)::after {
    display: block;
    content: "";
    margin: 1rem -2.4rem 2.4rem;
    border-bottom: 1px solid var(--color-platinum);
  }

  &__field {
    max-width: 45%;
    width: 25rem;
    display: inline-block;
    margin: 0 2rem 0 0;
  }

  &__actions {
    margin-bottom: 0;
  }

  &__button.mat-flat-button.mat-primary {
    --button-height: 4rem;
  }
}
