<div class="items">
  <load-spinner [isLoading]="isLoading"></load-spinner>

  <div *ngIf="mode === ModeType.edit" class="items__actions">
    <button (click)="createTodo()" class="items__button" mat-flat-button color="primary">
      <mat-icon>add</mat-icon>
      Add Todo
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="table mat-elevation-z1">
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_id"> Id </th>
      <td mat-cell *matCellDef="let element" class="table__column table__column_id"> {{ element.id }} </td>
    </ng-container>

    <!-- Checkbox -->
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_id"> State </th>
      <td mat-cell *matCellDef="let element" class="table__column table__column_id">
        <div class="auth__row">
          <mat-checkbox
            (click)="toggleState(element.id, element.completed)"
            [checked]="element.completed"
            [disabled]="mode === ModeType.view"
            color="primary"
          >
          </mat-checkbox>
        </div>
      </td>
    </ng-container>

    <!-- Title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_title"> Title </th>
      <td mat-cell *matCellDef="let element" [class.completed]="element.completed" class="table__column table__column_title"> {{ element.title }} </td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="mode === ModeType.edit" class="table__button-group">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editTodo(element)">
              <mat-icon [color]="'primary'">edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteTodo(element.id)">
              <mat-icon [color]="'warn'">delete_forever</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [pageSizeOptions]="pageSizes" [pageSizeOptions]="[10, 20]" showFirstLastButtons class="items__paginator"></mat-paginator>
</div>
