<div class="album">
  <load-spinner [isLoading]="isLoadingAlbum || isLoadingPhotos">albums loading</load-spinner>

    <div class="album__content" *ngIf="!isLoadingAlbum">
      <h2 class="album__title">
        ({{ album.id }}) {{ album.title }}
      </h2>
      <div class="actions">
        <button (click)="editAlbum()" class="album__button" mat-stroked-button [color]="'primary'" >Edit Album</button>
      </div>
    </div>

    <div class="album__photos">
      <h2 class="album__title album__title_underlined">
        Photos:
        <button class="album__button" mat-stroked-button [color]="'primary'" (click)="addPhoto()">
          <mat-icon>add</mat-icon> add photo
        </button>
      </h2>

      <gallery [photos]="showedPhotos" *ngIf="!isLoadingPhotos" (removePhoto)="deletePhoto($event)"></gallery>
      <mat-paginator
        [length]="photos?.length || 0"
        [pageSize]="numberOfPhotos"
        [pageSizeOptions]="[10, 25, 50]"
        aria-label="Select page"
        class="album__paginator"
      ></mat-paginator>
    </div>

</div>
