<div class="album">
  <div class="items__actions items__actions_left-pos">
    <button (click)="getBack()" class="items__button" mat-flat-button color="primary">
      <mat-icon>arrow_back</mat-icon>
      {{ 'BUTTONS.BACK' | translate }}
    </button>
  </div>

  <div class="album__content">
    <h2 class="album__title">({{ album?.id }}) {{ album?.title }}</h2>
    <div *ngIf="mode === ModeType.edit" class="actions">
      <button (click)="editAlbum()" class="album__button" mat-stroked-button [color]="'primary'">
        {{ 'BUTTONS.EDIT_ALBUM' | translate }}
      </button>
    </div>
  </div>

  <div class="album__photos">
    <h2 class="album__title album__title_underlined">
      {{ 'HEADERS.PHOTOS' | translate }}:
      <button *ngIf="mode === ModeType.edit" class="album__button" mat-stroked-button [color]="'primary'" (click)="addPhoto()">
        <mat-icon>add</mat-icon>
        {{ 'BUTTONS.ADD_PHOTO' | translate }}
      </button>
    </h2>

    <gallery [photos]="showedPhotos" (removePhoto)="deletePhoto($event)" [mode]="mode"></gallery>
    <mat-paginator
      [length]="photos?.length || 0"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page"
      class="album__paginator"
    ></mat-paginator>
  </div>
</div>
