.album {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 2.4rem;

  &__content,
  &__photos {
    background-color: var(--color-common-bg);
    border-radius: 0.4rem;
    padding: 2.4rem;
    box-shadow: var(--shadow-block);
    margin-bottom: 2.4rem;
  }

  &__title {
    color: var(--color-title-bg);
    font-size: 2.4rem;
    font-weight: var(--fw-medium);
    line-height: 2.8rem;

    &_underlined {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid var(--color-platinum);
      margin-bottom: 1.4rem;
    }
  }

  &__text, &__comment-text {
    color: var(--color-slate-gray);
    font-size: 1.4rem;
    font-weight: var(--fw-light);
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__photos-list {
    padding: 0;
  }

  &__button.mat-stroked-button.mat-primary {
    --button-height: 3.6rem;
    padding: 0 1.6rem;
  }

  &__comment {
    list-style-type: none;

    &:not(:last-child) {
      padding-bottom: 1.2rem;
      border-bottom: 1px solid var(--color-platinum);
      margin-bottom: 1.4rem;
    }
  }

  &__comment-title {
    color: var(--color-common-title);
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    line-height: 1.8rem;
  }

  &__comment-email {
    color: var(--color-slate-gray);
    font-size: 1.2rem;
    font-weight: var(--fw-regular);
  }
}
