<div class="album">
  <load-spinner [isLoading]="isLoadingAlbum || isLoadingPhotos">albums loading</load-spinner>

  <ng-container *ngIf="!isLoadingAlbum && !isLoadingPhotos">
    <div class="album__content">
      <h2 class="album__title">
        ({{ album.id }}) {{ album.title }}
      </h2>
      <div class="actions">
        <button (click)="editAlbum()" class="album__button" mat-stroked-button [color]="'primary'" >Edit Album</button>
      </div>
    </div>

    <div class="album__photos">
      <h2 class="album__title album__title_underlined">Photos:</h2>
<!--      <ul class="album__comments-list">-->
<!--        <li *ngFor="let comment of comments" class="album__comment">-->
<!--          <h3 class="album__comment-title">({{ comment.id }}) {{ comment.name }}</h3>-->
<!--          <p class="album__comment-text">{{ comment.body }}</p>-->
<!--          <footer class="album__comment-email">{{ comment.email }}</footer>-->
<!--        </li>-->
<!--      </ul>-->
    </div>

  </ng-container>
</div>
