.user {
  &__tabs {
    margin: 2.4rem 2.4rem 0;
    background-color: var(--color-white);
    box-shadow: var(--shadow-block);
    border-right: 0.4rem;

    ::ng-deep {
      .mat-tab-label.mat-tab-label-active {
        background-color: var(--color-denim);
        color: var(--color-white);
        opacity: 1;
      }

      .mat-tab-body-wrapper {
        margin: 0 -2.4rem -2.4rem;
      }

      .items__actions {
        margin: 0 2.4rem;
      }

      .mat-tab-label .mat-tab-label-content {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.4rem;
    gap: 1rem;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    color: var(--color-slate-gray);
    font-size: 1.4rem;
    letter-spacing: normal;
    text-transform: capitalize;
    padding: 0 2rem;

    &.active {
      background-color: var(--color-denim);
      color: var(--color-white);
    }
  }

  &__icon ::ng-deep svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
