<div class="items">
  <load-spinner [isLoading]="isLoading"></load-spinner>

  <div class="items__actions">
    <button (click)="createItem()" class="items__button" mat-flat-button color="primary">
      <mat-icon>add</mat-icon>
      Add Album
    </button>
  </div>

  <table  *ngIf="!isLoading" mat-table [dataSource]="dataSource" class="table mat-elevation-z1">

    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_id"> Id </th>
      <td mat-cell *matCellDef="let element" class="table__column table__column_id"> {{ element.id }} </td>
    </ng-container>

    <!-- Title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef class="table__column table__column_title"> Album title </th>
      <td mat-cell *matCellDef="let element" class="table__column table__column_title"> {{ element.title }} </td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="table__button-group">
          <button mat-icon-button class="table__button table__button_arrow">
            <mat-icon (click)="openAlbum(element.id)" [svgIcon]="'arrow-right'" class="nav__icon"></mat-icon>
          </button>
          <button mat-icon-button class="table__button table__button_delete">
            <mat-icon class="nav__icon" (click)="deleteItem(element.id)">delete_forever</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [pageSizeOptions]="pageSizes" showFirstLastButtons hidePageSize class="items__paginator"></mat-paginator>
</div>
