<div class="auth">
  <div class="auth__column auth__column_form">
    <div class="auth__lang-panel">
      <select-lang class="auth__lang"></select-lang>
    </div>
    <h1 class="auth__title">{{ 'HEADERS.SIGN_IN' | translate }}</h1>
    <p class="auth__subtitle">{{ 'HEADERS.SIGN_IN_TO_PLATFORM' | translate }}</p>

    <div *ngIf="wrongMail" class="auth__message">
      <mat-icon [color]="'warn'">error_outline</mat-icon>
      {{ 'HEADERS.USER_NOT_EXIST' | translate }}
    </div>

    <form [formGroup]="formGroup" (submit)="signIn()">
      <div class="auth__row">
        <app-mat-form-field
          [inputType]="InputType.email"
          [required]="true"
          [placeholder]="'FIELDS.ENTER_EMAIL' | translate"
          [control]="formGroup.get('email')"
        ></app-mat-form-field>
      </div>

      <div class="auth__row">
        <mat-form-checkbox
          class="base-boolean-field__field base-boolean-field__field_checkbox"
          color="primary"
          [control]="formGroup.get('isAgreed')"
        >
          {{ 'FIELDS.AGREE_TO_SIGN' | translate }}
        </mat-form-checkbox>
      </div>

      <button mat-flat-button type="submit" color="primary" class="shadow full-width auth__button">
        {{ 'BUTTONS.SIGN_IN' | translate }}
      </button>
    </form>
  </div>

  <div class="auth__column auth__column_img" [style]="{ backgroundImage: 'url(' + bgUrl + ')' }">
    <div class="auth__mail-list">
      <button *ngFor="let email of emailList" (click)="selectEmail(email)" mat-button class="auth__email-button">{{ email }}</button>
    </div>
  </div>
</div>
