<div class="auth">
  <div class="auth__column auth__column_form">
    <h1 class="auth__title">Sign in to Adminka</h1>
    <p class="auth__subtitle">Sign in on Adminka Na Kolenke platform</p>

    <div *ngIf="wrongMail" class="auth__message">
      <mat-icon [color]="'warn'">error_outline</mat-icon>
      This user does not exist in the system.
    </div>

    <form [formGroup]="formGroup" (submit)="signIn()">
      <div class="auth__row">
        <app-mat-form-field
          [inputType]="InputType.email"
          [required]="true"
          [placeholder]="'Enter your email'"
          [control]="formGroup.get('email')"
        >
        </app-mat-form-field>
      </div>

      <div class="auth__row">
        <mat-form-checkbox
          class="base-boolean-field__field base-boolean-field__field_checkbox"
          color="primary"
          [control]="formGroup.get('isAgreed')"
        >
          I agree to Sign In
        </mat-form-checkbox>
      </div>

      <button mat-flat-button type="submit" color="primary" class="shadow full-width auth__button">Sign In</button>
    </form>
  </div>

  <div class="auth__column auth__column_img" [style]="{ backgroundImage: 'url(' + bgUrl + ')' }">
    <div class="auth__mail-list">
      <button
        *ngFor="let email of emailList"
        (click)="selectEmail(email)"
        mat-button
        class="auth__email-button"
      >{{ email }}</button>
    </div>
  </div>
</div>
